@media screen and (max-width: 990px) {
    .widget_content{
    width: 100%;
}
.feature3 h2 {
    font-size: 3rem;

}
}
@media screen and (max-width: 4400px) {
    .fruit_img{
    width: 100%;
}
.fruit_img img{
    width: 343px
}
}