@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style-type: none;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
h2{
font-weight: 900;
font-size: 3rem;
text-transform: capitalize;
}
mark{
    background-color: yellow;
}
/* ---Hero Section Styling---- */
.hero {
    width: 100%;
    min-height: 900px;
    background-color: rgba(214, 218, 228, 0);
    background-image: linear-gradient(180deg, rgba(214, 218, 228, 0.2));
}
.hero_content {
    width: 800px;
}
.hero_image{
    width: 550px;
}
.hero_content h1 {
    text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
}
.hero_content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

}
.span_text {
    font-weight: 400;
    font-size: 14px;

}
.companies {
    margin-top: 50px;
    text-align: center;
}

/* Widget Section Styling */

.widget h2 {
font-weight: 900;
font-size: 3rem;
}
.widget_image{
    width: 900px;
}
.widget_content{
    width: 350px;
}
.widget_content p span {
    color: #9CA0AC;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 10px;
}
/* Widget Section End */

/*---Story Section Styling Start--  */
.story {
    min-height: 650px;
    background-color: #EEF1F7;
}
.story h2 {
    font-weight: 900;
    font-size: 3rem;
}

.story p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}
.social_box {
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 25px;
    background-color: #FFFFFF;

}
/*---Story Section Styling End--  */

/* -----Conversion&Growth Section --------- */
.conv_growth {
    min-height: 900px;
    background-color: white;
}

.conv_growth h2 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 70px;

}
.growth_box {
    width: 420px;
    min-height: 250px;
    background-color: #EEF1F7;
    border-radius: 10px;
    padding: 20px;
    text-align: left;

}
/* -----Conversion&Growth Section End--------- */

/* ----Templates Section Styling---- */
.templates{
    min-height: 900px;
    background-color:#111827;
}
.templates h2{
font-weight: 900;
font-size: 3.5rem;
color: white;
}
.templates p{
margin-top: 20px;
font-weight: 400;
font-size: 1.1rem;
color: white;
line-height: 30px;

}
.card_wrapper .card{
width: 310px;
height: 380px;
background-color: #FFFFFF;
box-shadow: 0px 0px 20px #00000026;
border-radius: 10px;

}
.card_wrapper h3{

font-weight: 900;
font-size: 2rem;
color: black;
text-align: left;
padding: 20px;
}
.card_wrapper .card_p{
    margin-top: 0px;
text-align: left;
padding:0 20px;
font-weight: 400;
font-size: 1.1em;
color: black;

}
/* Templates Styling End */

/* Integration Section Styling Start */
.integration{
    width:100%;
    min-height: 550px;
    background-color: rgba(255, 255, 255, 1);
}

 .int_wrapper{
    background-color: rgba(238, 241, 247, 1);
}

.icon_text{
font-weight: 500;
font-size: .9rem;

}
.int_content{
    width:550px;
} 
.int_content h2{
font-weight: 900;
font-size: 3rem;

}
.int_image{
    width:850px;
}
/* Integration Styling End */

/* Feature1 Styling Start */

.feature1{
    width: 100%;
    min-height: 100vh;
    padding: 50x 80px;
    text-align: center;
}

.feature1 h2{
font-weight: 900;
font-size: 3rem;
}
.feature1 p{
padding: 50px;
font-weight: 400;
font-size: 1.1rem;
color: black;
}
.feature_btns .btn{
    width: 200px;
    height: 50px;
    border-radius: 3px;
    padding: 10px;
    border: 0;
    background-color: rgba(238, 241, 247, 1);
}
.recipe_book{
    margin: auto;
    margin-top: 100px;
    width: 80%;
    min-height: 100vh;
    border-radius: 16px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
}
/* Sidebar */
.sidebar {
  width: 260px;
  min-height: 100vh;
  background-color:  rgba(238, 241, 247, 1);
;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
}
.sidebar-header {
  margin-bottom: 30px;
}
.story_logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -10px;
}
.sub-logo {
  font-size: 12px;
  color: #6b7280;
}
/* Menu */
.sidebar_menu {
  list-style: none;
  margin-bottom: 20px;
  text-align: left;
}
.sidebar_menu li {
  list-style: none;
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #555;
  border-radius: 6px;
}
.sidebar_menu li i {
  font-size: 16px;
  color: #6b7280;
  margin-right: 10px;
}

.sidebar_menu li.active,
.sidebar_menu li:hover {
  background: #eef2ff;
  color: #2f54eb;
}
/* Section Title */
.sidebar-section-title {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9ca3af;
  margin: 18px 0 10px;
  text-align: left;
}
.other {
  margin-bottom: 100px;
}
/* Profile */
.sidebar-profile {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 16px;
  border-top: 1px solid #e5e7eb;
}

.sidebar-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-profile h4 {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}

.sidebar-profile p {
  font-size: 12px;
  color: #6b7280;
  padding:0px;
}
/* Content */
.main_content {
  flex: 1;
  padding: 30px;
  min-height: 100vh;
}
/* Recipe Heading */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.top-header h3 {
  font-size:24px ;
}
.follow-btn {
  background: #1f2937;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
/* Tabs */
.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0;
 
}

.tabs span {
  padding-bottom: 10px;
  cursor: pointer;
  color: #777;
}

.tabs .active {
  color: #2f54eb;
  border-bottom: 3px solid #2f54eb;
}

.section-title {
  margin: 20px 0;
}
/* .recipe-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
} */

.recipe-card {
  margin: 50px 0;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 8px 20px rgba(0,0,0,0.08); */
  position: relative;
}

.recipe-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  /* background: linear-gradient(transparent, rgba(0,0,0,0.7)); */
  color: #fff;
}

.card-info h3 {
  font-size: 18px;
}

.date {
  font-size: 13px;
  opacity: 0.8;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 20px;
}

/* ------------Installation Section Styling Start----------- */
.installation h2{

font-weight: 900;
font-size: 3rem;
}
/* --------------CTA Section Styling-------------------------- */

.cta{
    width: 100%;
    min-height: 530px;
    background-color: rgba(238, 241, 247, 1);
}
.cta_content{
    width: 750px ;
}
.cta_content h2{
font-weight: 900;
font-size: 3rem;
 }
 .flex_image{
    width: 850px;
    margin-left: 5rem;
 }

 .flex_image img{
    width:270px;
    height: 385px;
}

/* -----------Features2 Section Styling----------- */
.feature2 h2{
font-weight: 900;
font-size: 3rem;
text-transform: capitalize;
}
.ft2_wrapper{
    margin-top: 50px;
}
.ft2_box{
    text-align: left;
    width: 310px;
    min-height: 250px;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(156, 160, 172, 0.4);
}
.ft2_box i{
 width: 50px;
min-height: 50px;
color: white;
font-size: 24px;
border-radius:4px;
padding: 10px;
background-color: rgba(0, 102, 255, 1);
}
.ft2_box span{
font-weight: 900;
font-size: 22px;
}
/* Feature2 Section End */
/* -------Feature3 Section Start-------------- */

.feature3 h2{
    font-size: 4.5rem;
    margin-bottom: 100px;
}
/* .ft3_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 10%;
} */

.ft3_image{
    width: 510px;
    position: relative;
}
.red_girl{
    position: absolute;
    right: 80px;
    top:-45px;
}
.ft3_content{
    margin-top: 50px;
    width:630px;
    text-align: left;
 }
.ft3_content h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

/* -------Feature3 Section end-------------- */
/* ----------Pricing Section Styling */
.pricing{
    background-color:rgba(238, 241, 247, 1);
}
.pricing h2{
    padding: 30px 0;
}
.pricing p{
    padding-bottom: 80px;
}
.annual_btn{
    position: relative;
    left: 150px;
    width: 145px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(17, 24, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;

}
.m_btn{
width: 266px;
height: 62px;
background-color: rgba(255, 255, 255, 1);
margin-right: 150px;
border-radius: 5px;
border-width: 1px;
padding: 5px 40px;
color: rgba(156, 160, 172, 1);
text-align: right;

}
.p_card{
    min-width: 310px;
    min-height:555px ;
    padding: 30px;
    border:1px solid rgba(214, 218, 228, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);

}
.p_card h3{
font-weight: 700;
font-size: 1.8rem;
}
.p_card h3 span{
font-weight: 400;
font-size: 3rem;
}
.border_btn{
width: 250px;
height: 50px;
background-color: white;
border-radius: 3px;
border: 2px solid rgba(0, 102, 255, 1);
font-size: 1rem;
color: rgba(0, 102, 255, 1);
margin: 50px 0;
}
.blue_btn{
    width: 250px;
height: 50px;
background-color: rgba(0, 102, 255, 1);
border-radius: 3px;
border: 2px solid rgba(0, 102, 255, 1);
font-size: 1rem;
color: white;
margin: 50px 0;
}
.p_card ul{
    display: flex;
    flex-direction: column;
    gap:10px;
    list-style-type: none;
}
.p_card:hover{
min-width: 310;
min-height: 600px;
border: 5px solid rgba(0, 102, 255, 1);
padding: 30px;
border-radius: 10px;
transition: transform .5s ease;
transform:scaleY(105%);
}
.faqs_box{
    width:100%;
    min-height: 480px;
}

.qa_container{
    
    text-align: left;
    display: grid;
    justify-content: center;
    grid-template-columns: 700px;
    gap:10px;
    
}
.qa_box h3{
    cursor: pointer;
}
.qa_box h3 span{
    float: right;
}

.ans{
    /* display: none; */
    margin-top: 10px;
    max-height: 0;
     overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);
    transition: 
        max-height 1s ease,
        opacity 1s ease,
        transform 1s ease;
}
.qa_box:hover .ans{
    /* display: block; */
     max-height: 100px; /* enough for content */
    opacity: 1;
    transform: translateY(0);
}

.all_comp_logo img{
width: 50%;
margin: 100px 0;
}
